<div class="layout">
  <header class="top-bar">
    <p-menubar [model]="topMenuItems" styleClass="layout-menubar">
      <ng-template pTemplate="start">
        <span class="top-bar-logo" aria-hidden="true">
          <i class="pi pi-building"></i>
        </span>
        <span class="top-bar-title">Casa do Zé</span>
        <span class="top-bar-subtitle">Gerenciamento</span>
      </ng-template>
      <ng-template pTemplate="end">
        <a routerLink="/login" class="top-bar-link">
          <i class="pi pi-sign-out" aria-hidden="true"></i>
          Sair
        </a>
      </ng-template>
    </p-menubar>
  </header>

  <aside class="side-bar">
    <p-menu [model]="sideMenuItems" [popup]="false" styleClass="layout-side-menu" />
  </aside>

  <main class="layout-content">
    <router-outlet />
  </main>
</div>
